.navbar {
  //   font-family: "Red Rose", cursive;
  font-family: "Mulish", sans-serif;
  font-size: 18px;

  .navbar-brand {
    font-weight: 700;
  }

  a {
    color: black;
    font-weight: 500;
  }
}
